body{
    --circle_radius: 7px;
}

#new_person_button, #get_documents_button {
    cursor: pointer;
}
#content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#find_header{
    text-align: left;
}


#parameters, #find, #download, #add_submit {
    border: 2px solid gray;
    border-radius: 10px;
    width: max-content;
    padding: 3px;
    margin-bottom: 6px;
    cursor: pointer;
}

#add_submit {
    margin-top: 10px;
}

#download {
    margin-left: 4px;
}

hr{
    margin: 0px;
}

.format_string {
    margin-top: 3px;
}

#new_person_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.short_name {
    overflow-wrap: anywhere;
}

.full_name {
    overflow-wrap: anywhere;
    width: min-content;
}


.clear_button {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: #ffc400;
}

#buttons {
    margin-top: 3px;
    margin-bottom: 3px;
}

.mini_clear_button {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: #ffc400;
}

.mini_empty_field_button {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: lightblue;
}

.delete {
    width: 20px;
    height: 20px;
}


.data {
    text-align: center;
    border-spacing: unset;
}

.data td{
    border: 1px solid gray;
}

.data th {
    border: 1px solid gray;
}

.data td div, .data th div {
    padding: 5px;
}

.data tr:first-child th:first-child{
    border-top-left-radius: 10px;
}

.data tr:first-child th:last-child{
    border-top-right-radius: 10px;
}

.data tr:last-child td:first-child{
    border-bottom-left-radius: 10px;
}

.data tr:last-child td:last-child{
    border-bottom-right-radius: 10px;
}


.filter {
    background-color: skyblue;
}


#header {
    margin-bottom: 20px;
}

#main_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 10px;
}

#second_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#clear_data, #add_data {
    text-align: center;
    width: 50%;
    margin-top: 3px;
    border: 2px solid lightgray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
}

#clear_data {
    border-top-left-radius: 10px;
    box-shadow: 3px -3px 3px lightgray;
}

#add_data {
    border-top-right-radius: 10px;
    box-shadow: -3px -3px 3px lightgray;
}


#person_manage {
    width: max-content;
}

div#message, div#person_manage {
    position: fixed;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    padding-bottom: 13px;
    border: 2px solid rgba(133, 130, 203, 0.627);
    border-radius: 15px;
    z-index: 5;
    background-color: white;
    box-shadow: 10px 10px 5px lightgray;
} 
div#message div, div#person_manage div {
    text-align: center;
}

#download_checked {
    display: flex;
}

#question {
    padding-bottom: 5px;
}

.checked_choosing {
    padding: 5px;
    border-radius: 10px;
    border: 3px solid rgba(133, 130, 203, 0.627);
    margin: 3px;
    cursor: pointer;
    box-shadow: 5px 5px 3px lightgray;
}

#block {
    padding: 0%;
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 100%;
}

#second_line {
    display: flex;
    flex-direction: row;
}

#new_person_button, #get_documents_button {
    text-align: center;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
}

#new_person_button {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(211, 211, 211, 0.812);
}

#get_documents_button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

label {
    overflow-wrap: anywhere;
}

#new_person_table {
    border: 1px solid black;
    border-spacing: unset;
    border-collapse: collapse;

} 

#new_person_table tr {
    border-bottom: 1px solid black;
}

#new_person_table tr td div {
    margin: 3px;
}


#new_person_table tr:first-child {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}